@model IEnumerable<ConsumeWebApi.Models.OrderTotal>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2> Welcome </h2>
</div>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.tableNo)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.totalPrice)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>


    </tr>


    @foreach (var ordertotal in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelOrder => ordertotal.tableNo)
            </td>

            <td>
                @Html.DisplayFor(modelOrder => ordertotal.totalPrice)
            </td>

            <td>
                @Html.DisplayFor(modelOrder => ordertotal.date)

            </td>
            
            <td>
                @Html.ActionLink("Confirm Payment", "PayOrder", new{id = ordertotal.id}, new {@class = "btn btn-primary btn-large"})
            </td>


        </tr>
    }


</table>