@model ConsumeWebApi.Models.OrderTotal


@{
    ViewBag.Title = "Payment";

}
<div class="jumbotron">
    <h2>Confirm Payment</h2>
 

</div>
<hr/>
<table class="table">
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.tableNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tableNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" value="Confirm" class="btn btn-default"
               formmethod="post" formaction=@Url.Action("PayOrder")/>
        @Html.ActionLink("Return to list", "Index")
    </div>
}