@model IEnumerable<ConsumeWebApi.Models.Order>
@{
    ViewBag.Title = "Kitchen";
}
<head>  
    <title>Kitchen</title>  
    <meta http-equiv="refresh" content="5" />  
</head>  

<div class="jumbotron">
    <h2> Kitchen </h2>
</div>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.itemName)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.quantity)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.tableNO)
        </th>


    </tr>

    @foreach (var order in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelOrder => order.itemName)
            </td>

            <td>

                @Html.DisplayFor(modelOrder => order.quantity)
            </td>

            <td>
                @Html.DisplayFor(modelOrder => order.tableNO)

            </td>
             <td>
                 @Html.ActionLink("Done", "Done", new {order.itemID, order.tableNO}, new {@class = "btn btn-primary btn-large"})
                 </td>


        </tr>
    }

</table>